<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>berners-lee</title>
</head>
<body>

    <li><a href="/">HOME</a></li>
    <li><a href="/babagge">BABBAGE</a></li>
    <li><a href="/berners-lee">BERNERS-LEE</a></li>

    
    <h1>berners-lee</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam possimus autem dolore nisi porro minima inventore voluptas et pariatur explicabo necessitatibus fugiat totam, vel labore veritatis quia, ea magni velit?</p>
    
</body>
</html>