<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/estilos.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre Puerta 18</title>
  </head>
  <body>
    <header>
      <div><a href="/"
        ><img src="/images/_ffd89b-removebg-preview.png" alt="MercadoLiebre"
      /></a></div>
 
      <nav>Lugar para Barra de busqueda;</nav>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav>
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="#">Creá tu Cuenta</a></li>
          <li><a href="#">Ingresá</a></li>
          <li><a href="#">Mis Compras</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="box-menu--main">
      <a href=""><i class="fa-solid fa-bars"></i></a>
    </div>
      <img width="100%" src="/images/img-home-banner.jpg" alt="banner" />
    </main>
    <section>
      <h2 id="visita">Basado en tu ultima visita</h2>
      <div>
        <article>
          <img
            wigth="100%"
            src="/images/img-cafetera-moulinex.jpg"
            alt="cafetera"
          />
          <p>$6.770</p>
          <p>40% OFF</p>
          <h3>Cafetera Moulinex</h3>
        </article>
      </div>
    </section>
    <section>
      <h2>Sección de ofertas</h2>
      <div>
        <article>
          <img
            wigth="100%"
            src="/images/img-macbook-pro-2019.jpg"
            alt="MacBook"
          />
          <p>$230.000</p>
          <p>20% OFF</p>
          <h3>MacBook Pro 2019</h3>
        </article>
      </div>
    </section>
    <footer>
      <section>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <div>
          <p class="parrafo parrafo_izquierdo">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
      </section>
      <section>
        <h2>Envío gratis desde $ 2.500</h2>
        <div>
          <p class="parrafo parrafo_derecho">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
      </section>
      <section>
        <h2>Seguridad, de principio a fin</h2>
        <div>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </section>
      <div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
